---
const { experience } = Astro.props;

const isDate = (value: Date | string) => {
    const date = new Date(value);
    return !isNaN(date.getTime());
};
---

<div class="experience-item">
    <div class="experience-item__details">
        <div class="experience-item__sticky">
            <span class="experience-item__bullet">&bull;</span>

            <h3 class="experience-item__title">{experience.position}</h3>
            <h4 class="experience-item__company">{experience.name}</h4>
            <time class="experience-item__date">{experience.startDate}</time>
            <time datetime="2024-01-01">hola</time>
        </div>
    </div>
    <div class="experience-item__description">
        {experience.summary}
        {
            experience.link && (
                <a class="link" href={experience.link}>
                    Saber más{" "}
                </a>
            )
        }
    </div>
</div>

<style>
    .experience-item {
        position: relative;
        margin-left: 3rem;
        margin-right: 3rem;
        padding-bottom: 3rem;
        display: grid;
    }

    .experience-item::before {
        content: "";
        position: absolute;
        left: -35px;
        display: block;
        height: 100%;
        border-left: 2px solid rgba(255, 255, 255, 0.2);
    }

    @media (min-width: 768px) {
        .experience-item {
            grid-template-columns: repeat(5, 1fr);
            gap: 2.5rem;
            padding-right: 1rem;
        }
    }

    .experience-item__details {
        position: relative;
        padding-bottom: 3rem;
        grid-column: span 2;
    }

    .experience-item__sticky {
        position: sticky;
        top: 0;
    }

    .experience-item__bullet {
        color: #f59e0b;
        position: absolute;
        left: -42px;
        border-radius: 50%;
        font-size: 3rem;
    }

    .experience-item__title {
        font-size: 1.25rem;
        font-weight: bold;
        color: #f59e0b;
    }

    .experience-item__company {
        font-size: 1.25rem;
        font-weight: 600;
        color: #4b5563;
    }

    .experience-item__date {
        padding: 0;
        margin: 0;
        font-size: 0.875rem;
        color: rgba(75, 85, 99, 0.8);
    }

    .experience-item__description {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-bottom: 1rem;
        color: #4b5563;
        grid-column: span 3;
    }

    .link {
        display: inline-flex;
        align-items: center;
        font-size: 1.125rem;
        font-weight: 500;
        color: #f59e0b;
        border: 2px solid white;
        padding: 1rem;
        border-radius: 1rem;
        width: fit-content;
    }

    .link:hover {
        color: #b45309;
    }

    .link:focus {
        color: #b45309;
    }
</style>
