---
import Github from "../../icons/Github.astro";
import Mail from "../../icons/Mail.astro";
import CustomLink from "../customLink/customLink.astro";
import Linkedln from "../../icons/Linkedln.astro";
import SectionContainer from "./sectionContainer.astro";
import Badget from "../badget/badget.astro";

import { basics } from "../../content/cv/cv.json"

const getIconComponent = (network: string) => {
  switch (network) {
    case "GitHub":
      return Github;
    case "LinkedIn":
      return Linkedln;
    default:
      return null;
  }
}

---

<main class="main__container">
    <SectionContainer style={{ marginBottom: "3rem" }}>

        <Badget />

        <h1 class="main-heading">Hola, {basics.name}</h1>

        <h2 class="sub-heading">
            <span class="experience"></span>
            <span class="description">
                {basics.label}
            </span>
            <span class="location"> 
                De {basics.location.region}, 
                {basics.location.countryCode} 🆑❣️
            </span>
            <span class="learning">{basics.summary}</span
            >
        </h2>

        <nav class="container__social">
            {
                basics.profiles.map((el) => {
                    const IconComponent = getIconComponent(el.network);

                    return (
                        <CustomLink p={el.network} href={el.url}>
                            {IconComponent && <IconComponent />} {/* Renderiza el ícono si existe */}
                        </CustomLink>
                    )
                })
            }

            <CustomLink p="Mail" href={`"mailto:${basics.email}"`}>
                <Mail />
            </CustomLink>

            {

            }
        </nav>
    </SectionContainer>
</main>

<style>
    .main__container {
        max-width: 740px;
        margin-top: 5rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
    }

    .main-heading {
        color: white;
        font-size: 3rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    .sub-heading {
        font-size: 1.5rem;
        line-height: 2rem;
        opacity: 0.8;
        text-wrap: wrap;

        & .description {
            color: rgba(245, 201, 55, 0.95);
        }

        & .location {
            color: rgba(247, 85, 85, 0.95);
        }

        & .learning {
            opacity: 0.9;
        }
    }

    .container__social {
        display: flex;
        column-gap: 0.5rem;
        margin-top: 1.25rem;
    }

    @media (width < 480px) {
        .main__container {
            padding: 1rem;
        }
        .container__social {
            flex-direction: column;
            gap: 0.75rem;
            min-width: 320px;
        }
    }
</style>
